
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background:url(./img/beach.jpg) ; 
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#app {
    background: url('./img/beach.jpg'); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


input[type="text"],
input[type="time"] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #00ccff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0099cc; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00ccff; 
    border: 1px solid #18807a; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.2s;
}

/* li span {
    color: #000; 
   
} */

li:hover {
    background: #18807a;
}

.task-time {
    font-weight: bold;
    color: #003366; 
    margin-right: 20px;
}



.task-info {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 50px;
}

.task-checkbox {
    margin-right: 10px
}

.completed {
    background-color: #d9f4f7; 
}

.task-name {
    margin-right: 20px;
}




