*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.hero{
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-size: cover;
    
}

nav{
    display: flex;
    padding: 30px 8%;
}

.logo{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.2s ease-out;
}

nav ul li:hover{
    border-bottom: 2px solid #fff;
}

nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

h3{
    color: #fff;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 350px;
    margin-bottom: -120px;
    margin-top: 200px;
}


h1{
    color: #fff;
    margin: 0 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    opacity: 0.6;
    text-align: center;
    margin-top: 100px;

    background-image: linear-gradient(45deg,#000,#fff,#000,#fff,#000,#fff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.icons i{
    color: #fff;
}

.icons{
    display: flex;
    margin-top: 200px;
    margin-right: 50px;

}

.icons ul{
    flex: 1;
    text-align: right;
}

.icons ul li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    padding: 10px;
}

.icons ul li i{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    transition: 0.1s all;
}

.icons ul li i:hover{
    color: aqua;
}