* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(27, 27, 27);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}

.header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header .logo img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the icon and text */
}

.header a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #79eef2;
}

.search-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.search-box{
    width: 30%;
    padding: 10px 10px 10px 40px;
    text-align: center;
    border: 1px solid #555;
    background: white url('./img/search.svg') no-repeat 13px center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    list-style: none;
    margin-top: 60px;
}

.profile-card {
    background: #f0ece2;
    border-radius: 30px;
    border: 2px solid #79eef2;
    width: 250px;
    height: 230px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-content {
    text-align: center;
}

.profile-card {
    background: #f0ece2;
    border-radius: 30px;
    border: 2px solid #79eef2;
    width: 250px;
    height: 230px;
    margin: 10px;
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    margin-left: 35px;
}

.singer-image img{
    border-radius: 30px;
}

/* Add this CSS for the hover effect */
.profile-card {
    transition: opacity 0.3s ease;
}

.profile-card:hover {
    opacity: 0.3; /* Adjust the opacity value as desired */
}
